{% extends "base.html" %}

{% block content %}
<div class="text-center py-16">
    <h1 class="text-5xl md:text-6xl font-extrabold tracking-tight mb-6">
        Protege la Integridad de tus documentos 
    </h1>
    <p class="mt-4 text-xl text-slate-400 max-w-2xl mx-auto mb-10">
       Sistema criptográfico para generar hashes inmutables, extraer metadatos y aplicar marcas de agua a tus archivos importantes.
    </p>
    
    <div class="flex flex-col sm:flex-row justify-center gap-4">
        <a href="/upload" class="px-8 py-4 bg-brand-500 border border-slate-700 hover:border-white text-white rounded-xl font-bold text-lg transition-all flex items-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
            Registrar Documento
        </a>
        <a href="/verify" class="px-8 py-4 bg-dark-800 border border-slate-700 hover:border-slate-500 text-white rounded-xl font-bold text-lg transition-all flex items-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Verificar Integridad
        </a>
    </div>
</div>


{% endblock %}
